h1 {
    padding-top: .5em;
    font-family: fenwick, sans-serif;
    font-size: 50pt;
    color: #0031B0;
    text-align: center;
}

/* Nav Bar Begin */

nav { 
    background-color: white;
    padding-bottom: 1em;
    position: sticky;
    top: 0

}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content:space-evenly;
}

nav a {
    font-family: komet, sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: #FFA10A;
}

nav a:hover {
    color: #0031B0; 
}

/* Nav Bar End */

article{
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    
}

.text{
    padding-top: 10em;
    align-content: center;
    text-align: center;
    color:#000000
}

h2 {
    font-family: soleil, sans-serif;
    color: #000000;
}
 
.black {
order: 1;
font-family: dashiell-fine, serif;
color: #000000;
}


.image{
    order: 2;
    float:right;
}


/* About Page*/

/* About Page End*/

/* Resume  begin*/
.resume {
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-items: center;      
}

.resume1 {
    width:49%;
    order: 3;
}

.resume2 {
    width:49%;
    order: 4;
}

/* Resume end*/

/* Contact Page*/

h3 {
    font-family: soleil, sans-serif;
    text-decoration: none;
}

h3 a {
    text-decoration: none;
    color: #000000;
}

h3 a:hover {
    color: #FFA10A;
}

.contactgrid {
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.contacttext {
    justify-content: center;
    padding-top: 10em;
    order: 1;
}

.contactimg {
    padding-top: 3em;
    width: 50%;
    float: right;
    order: 2;
}

/*Contact page ends*/


@media only screen and (max-width: 800px) {
    .text {
        padding-top: 0em; }
    }

    .contact { 
        padding-top:3em;
    }


  @media only screen and (max-width: 700px) {
    nav {
        width: 100%;
        position: sticky;
    }
    nav ul {
        display: flex;
        align-content: center;

    }
    article{
        flex-direction: column;
        order: 1, 2;
        align-items: center;
    }

    .text {
        padding-top: 0em;
    }

    .resume {
        flex-direction: column;
        order: 1,2;
        align-items: center;
    }

    .resume1{
        width: 100%;
    }

    .resume2 {
        width: 100%;
    }

    .contactgrid {
        flex-direction: column;
        order: 1, 2;
        align-items: center;
        padding: 0em;
    }

    .contacttext {
        padding-top:0em;
        padding-bottom: 0em;
    }

    .contactimg {
        padding-top: 0em;
    }
    
  }